{% import "lib.html" as macros %}
<figure class="image">
  <a href="{{ src }}"><img srcset="{{ src | urlencode }} 1.25x" src="{{ src }}" alt="{{ alt }}"></a>
  {{ macros::figcaption(title=title | default(value=alt)) }}
</figure>
