{% import "lib.html" as macros %}
{% set image = resize_image(
  path=page.path ~ src,
  width=width | default(value=640),
  height=height | default(value=480),
  op="fit") %}
<figure class="image">
  <a href="{{ src }}"><img src="{{ image.url }}" alt="{{ alt }}"></a>
  {{ macros::figcaption(title=title | default(value=alt)) }}
</figure>
